<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamwork.dao.MessageMapper">
    <insert id="send">
        insert into sys_message (message_type,type, send_name, receive_name, tag, content, create_time,team_id,team_name)
        values (#{message_type},
                #{type},
                #{send_name},
                #{receive_name},
                '0',
                #{content},
                #{create_time},
                #{team_id},
                #{team_name});
    </insert>
    <update id="read">
        update sys_message
        set tag = '1'
        where id = #{id};
    </update>
    <delete id="deleteById">
        delete
        from sys_message
        where id =#{id};
    </delete>


    <select id="getMy" resultType="com.teamwork.pojo.Message">
        select *
        from sys_message where receive_name = #{login_name};
    </select>
</mapper>